<div class="row" id="content" style="padding-top: 0.5cm;">
  <div class="small-2 large-12 columns" data-sticky-container>
    <div class="card">
      <div class="card-divider">
        Title
      </div>
      <div class="card-section">
        <p><%= @wiki.title %></p>
      </div>
    </div>

    <div class="card">
      <div class="card-divider">
        Link
      </div>
      <div class="card-section">
        <p><%= auto_link @wiki.link %></p>
      </div>
    </div>

    <div class="card">
      <div class="card-divider">
        Description
      </div>
      <div class="card-section">
        <p><%= auto_link(simple_format(@wiki.try(:description))) %></p>
      </div>
    </div>

    <div class="card">
      <div class="card-divider">
        Tag List
      </div>
      <div class="card-section">
        <% @wiki.tag_list.each do |tag| %>
          <%= link_to tag_path(id: tag) do %>
            <span class='label'>
              <%= tag %>
            </span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if admin_signed_in? %>
  <%= link_to 'Edit', edit_wiki_path(@wiki), :class => 'button' %>
  <%= link_to 'Destroy', @wiki, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'button' %>
<% end %>
<%= link_to t('.back', :default => t("helpers.links.back")), root_path, :class => 'button secondary'  %>
